[submodule "nvim/mehplugins/indexor"]
	path = nvim/mehplugins/indexor
	url = git@github.com:RRethy/vim-indexor.git
[submodule "nvim/mehplugins/illuminate"]
	path = nvim/mehplugins/illuminate
	url = git@github.com:RRethy/vim-illuminate.git
