configstore/
dev/
gcloud/
jgit/
nix/
nixpkgs/
nvim/.netrwhist
nvim/pack/
nvim/shada/
nvim/views/
oni2/store/
ranger/
shadowenv/
trust-key
wikidates/
git-chain/
irb/
cli-kit/
spin/
zsh/.zcompdump
runtime/
iterm2/
karabiner/automatic_backups/
containers/
gh/
zsh/.zsh_sessions
github-copilot/
gtk-2.0/
dlv/
schemas/
temporalio/
graphite/
uv/
psst/
